@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main style="display: flex; flex-direction: column; height: 100vh; overflow: hidden;">

@*         <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div> *@

        <article class="content" style="flex: 1; overflow: hidden; padding: 0 !important;">
            @Body
        </article>

    </main>
</div>


